﻿@model CaballosAGP.Models.UserAccount

@{
    ViewData["Title"] = "Index";
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/Login.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!--<form method="get" asp-action="Login">
    <div class="form-group">
        <h4>Secure Login</h4>
        </br>
        <input type="text" class="form-control input-sm chat-input" asp-for="Username" aria-describedby="emailHelp" placeholder="Username">

    </div>
    <div class="form-group">
        </br></br>
        <input type="password" class="form-control input-sm chat-input" asp-for="Password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>-->

<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login</h2>
                
                <form class="login-form" method="get" asp-action="Login">
                    
                    
                    <div class="form-group">
                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="" asp-for="Username">
                            <label for="floatingInput">Username</label>
                        </div>
                        
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="" asp-for="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>




                        <div>
                            <a asp-action="Create" asp-controller="CustomerDtoes" class="btn btn-outline-success btn-block mb-2">Register Customer</a>
                        </div>
                        <div>
                            <a asp-action="Create" asp-controller="TeacherDtoes" class="btn btn-outline-primary btn-block mb-2">Register Teacher</a>
                        </div>
                        @if (TempData["errorMessage"] != null)
                        {
                            <p>@TempData["errorMessage"]</p>
                        }

                        <div class="form-check">

                            <button type="submit" class="btn btn-outline-warning float-right mb-2">Submit</button>
                        </div>
                </form>

            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://cdn.discordapp.com/attachments/552913183925469209/948165297376993320/LoginVigilante.jpg" style="width:800px; height:550px" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="https://cdn.discordapp.com/attachments/552913183925469209/948168319582744637/caballo_betis.jpg" style="width:800px; height:550px" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="https://cdn.discordapp.com/attachments/768388159998263316/949211790250770452/magico_caballero.jpg" style="width:800px; height:550px" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




