﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;

<div class="text-center">
    <p>JIIIIIIIIII JA, Bienvenido al Rancho de Andres</p>
</div>

<body style="background-image: url(https://cdn.discordapp.com/attachments/552913183925469209/948162202844667924/homeBienHecho.png); background-size: cover; background-size: 90%; background-repeat: no-repeat; background-position: center center; background-attachment: fixed; ">

<!--Mostramos a través de la sesión la ID y el username-->
</body>
