﻿@model CaballosAGP.Models.RoleHasMenu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoleHasMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="MenuID" class="control-label"></label>
                <select asp-for="MenuID" class="form-control" asp-items="ViewBag.MenuID"></select>
                <span asp-validation-for="MenuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleID" class="control-label"></label>
                <select asp-for="RoleID" class="form-control" asp-items="ViewBag.RoleID"></select>
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

